@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{
  @apply max-w-[1270px] px-4 mx-auto relative;
}

.hero-home{
  @apply w-full h-[500px] lg:h-[750px] flex flex-col;
  background-image: linear-gradient(180deg, rgba(8, 55, 107, 0.6) 0%, rgba(98, 207, 244, 0) 34.61%), url(../../public/images/hero-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.home-sobre{
  @apply h-[516px] lg:h-[364px] w-full;
  background-image: linear-gradient(94.6deg, rgba(8, 55, 107, 0.8) 6.1%, rgba(252, 113, 94, 0) 110.02%), url(../../public/images/nosotros-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}

.home-nos-eligen{
  background-image: linear-gradient(91.62deg, rgba(8, 55, 107, 0.8) 0.78%, rgba(252, 113, 94, 0.312) 122.57%), url(../../public/images/nos-eligen-mobile.png);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media(min-width: 1040px){
  .home-nos-eligen{
    background-image: linear-gradient(91.62deg, rgba(8, 55, 107, 0.8) 0.78%, rgba(252, 113, 94, 0.312) 122.57%), url(../../public/images/nos-eligen-desktop.jpg);
    background-position: right bottom;
  }
}

.modal{
  @apply invisible;
}

.modal.active{
  @apply visible;
}

.home-valores{
  background-image: linear-gradient(91.62deg, rgba(8, 55, 107, 0.7) 0.78%, rgba(252, 113, 94, 0.273) 122.57%), url(../../public/images/home-valores.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}