@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{
  @apply max-w-[1270px] px-4 mx-auto relative;
}

.hero-home{
  @apply w-full h-[500px] lg:h-[750px] flex flex-col;
  background-image: linear-gradient(180deg, rgba(8, 55, 107, 0.6) 0%, rgba(98, 207, 244, 0) 34.61%), url(../../public/images/hero-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
